.Navbar {
  padding-top: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;

  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
}

.logo img {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}