.registration-form {
    display: flex;
    flex-direction: column;
}

.registration-form .error {
    color: red;
    font-size: 12px;
    margin-top: 10px;
}

.registration-form input {
    margin-bottom: 10px;
}

.rform-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #38B2Ac
}

.rform-wrap h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.rform-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #ffffffeb;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),0 2px 4px -1px rgba(0, 0, 0, 0.06);
    max-width: 470px;
}

.rform-box label {
    font-size: 16px;
}

.form-input {
    padding: 0.5rem;
    border: 1px solid #38B2Ac;
    border-radius: 5px;
    width: 400px;
}

.rform-box button {
    padding: 0.5rem;
    border: 1px solid #319795;
    width: 100%;
    background-color: #319795;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

.rform-box h3 {
    color: red;
    font-weight: 400;
    font-size: 15px;
}


.name {
    display: flex;
    flex-direction: row;
}

.name section {
    width: 50%;
}

.rname {
    padding: 0.5rem;
    border: 1px solid #38B2Ac;
    border-radius: 5px;
    width: 190px;
}